.about-component{
  background: #205bff8e;
  background: black;
  border-radius: 4px;
  display: block;
  position: relative;
  margin: 0 auto;
  padding-top: 20px;
  height: 905px;
  width: 98.25%;
  text-align: center;
}

.abt-header-container{
  background: #a3e03f59;
  display:block;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  width: 70%;
  height: 240px;
  
  
  h1{
    // background: coral;
    display: block;
    position: relative;
    text-align: left;
    margin: 0 auto;
    line-height: 65px;
    top: 4%;
    font-size: 4rem;
    
  }
}
