.about-component{
  display: block;
  position: relative;
  margin: 0 auto;    
  padding-top: 20px;
  height: 900px;
  width: 100%;
  background-size: 1400px;
  background-position: center;
  background-repeat: inherit;
  background-image:url('../../assets/images/spilledMilk.jpg'); 
  // background-position: center;
  // height: 750px;
  // width: 100%;
}

.abt-header-container{
  background: #0bff0b8f;
  display: block;
  position: relative;
  margin: 0 auto;
  // width: 45%;
  width: 370px;
  font-size: 3.5rem;
  letter-spacing: -3px;
  line-height: 108px;
  text-align: center;
  top: 30%;
}

@media screen and( max-width: 850px){
  .about-component{
    background-size: 900px;
    background-position: center;
  }
}

