.blog-component{
  background: #dd9332;
  // background-image: url('../../assets/images/spilledMilk.jpg');
  border-radius: 4px;
  display: block;
  position: relative;
  margin: 24px auto;
  margin-bottom: 40px;
  top: 75px;  
  padding-top: 20px;
  height: 700px;
  width: 100%;  
  text-align: center;
}