.footer-body{
  // background: #f1e4d9;
  // background: #00000052;
  display: block;
  position: relative;
  margin: 0 auto;
  top: 24px;
  height: 90px;
  width: 100%;   
}
.footer-span{
  // background: lightgrey;
  color: #171b4460;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 4px;
  width: 150px;
  top: 30%;
  letter-spacing: -1px;
  font-size: .80rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}