// ** HEADER ** //

.header-component{
  display: block;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 120px;
  z-index: 100;
  margin-bottom: 20px;
}

.header-body{
  // background:lightblue;
  height: 120px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  transition: .4s ease all;
}

.header-body:hover{
  transition: .4s ease all;
  background: #ffffff23;
  border-bottom: 1px solid #00000067;
}
// ** LOGO THINGS ** //

.site-logo{
  background: #ffffff17;
  display: block;
  position: relative;
  width: 90px;
  height: 80px;
  border: 1px solid #0000007e;
  padding: 8px;
  top: 12px;
  left: 12px;
  transition: .3s ease all;
}
.site-logo:hover{
  transition: .3s ease all;
  background: #ff4674;
  border: 1px solid black;
}
.logo-bod{
  border: 1px solid #fafafa00;
  display: block;
  position: relative;
  height: 80px;
  transition: .4s ease all;
}

.logo-span{
  // background: lightgreen;
  color: black;
  display: block;
  position: relative;
  margin: 0 auto;
  width: 84px;
  top: 32px;
  right: 8px;
  padding: 2px;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 22px;
  text-align: center;
  transition: .2s ease all;
}

.site-logo:hover .logo-span{
  transition: .2s ease all;
  color: #ebfffc;
  text-shadow: -8px 8px 1px #00000091;
}


// ** NAV THINGS ** //

.nav-container{
  // background: lightgreen;
  display: absolute;
  position: relative;
  margin: 0 auto;
  padding: 4px;
  float: right;
  bottom: 18px;
  right: 24px;
  width: 450px;
}
.site-nav{
  // background: lightblue;
  display: block;
  margin: 0 auto;
  width: 90%;
}

.site-nav ul{
  // background: #51744e;
  display: block;
  position: relative;
  text-align: right;
  margin: 0 auto;
  width: 90%;
}

.site-nav ul li{
  // background: #c6e67b;
  display: inline-block;
  position: relative;
  margin: 0 2px;
  padding: 4px;
}
.site-nav a{
  // background: #00000071;
  color: #0000009d;
  font-weight: 100;
  padding: 4px;
  border: 1px solid #fafafa00;
  letter-spacing: -1px;
  transition: .2s ease all;
}
.site-nav a:hover{
  transition: .2s ease all;
  background: #00000060;
  border: 1px solid #00000083;
  // color: white;
}

// MENU BUTTON THANGS //

.menu-btn-container{
  display:none;

  .menu-btn{
    display:none;
  }
}
  



@media screen and (max-width:800px){
  .header-body{
    height: 100px;
  }

  .nav-container{
    transition: .4s ease all;
    display: none;
  }
  .site-logo{
    width: 70px;
    height: 60px;
  }
  .logo-span{
    top: 10px;
    width: 90%;
    font-size: 1.40rem;
    letter-spacing: -3px;
  }
  .menu-btn-container{
    // background: #8317ff91;
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 100%;
    bottom: 20px;

    .menu-btn{
      background: #00000000;
      display: block;
      position: relative;
      margin-right: 40px;
      height: 40px;
      width: 50px;
      letter-spacing: -2px;
    }
  }
  .menu-btn:hover{
    cursor: pointer;
  }

}