.hero-component{
  display: block;
  position: relative;
  margin: 0 auto;    
  padding-top: 20px;
  height: 900px;
  width: 100%;
  background-size: 1400px;
  background-position: center;
  background-image:url('../../assets/images/joanna-kosinska.jpg');      
  
  .herohwun{
    background: #c7cbffb7;
    color: #000000;
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 24px;    
    border-radius: 4px;
    font-size: 4.25rem;
    font-weight: 800;
    letter-spacing: -4px;
    top: 150px;
    text-align: center;
    width: 330px;
    // height: 420px;
    min-width: 330px;
  }
}
