.schedule-component{
  background: #3bcfaf;
  border-radius: 4px;
  display: block;
  position: relative;
  margin: 24px auto;
  margin-bottom: 40px;
  top: 75px;  
  padding-top: 20px;
  height: 600px;
  width: 100%;  
  text-align: center;
}