.header-component {
  display: block;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 120px;
  z-index: 100;
  margin-bottom: 20px; }

.header-body {
  height: 120px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  transition: .4s ease all; }

.header-body:hover {
  transition: .4s ease all;
  border-bottom: 1px solid #00000067; }

.site-logo {
  background: #ffffff25;
  display: block;
  position: relative;
  width: 90px;
  height: 80px;
  border: 1px solid #0000007e;
  padding: 8px;
  top: 12px;
  left: 12px;
  transition: .3s ease all; }

.site-logo:hover {
  transition: .3s ease all;
  background: #ff4674;
  border: 1px solid black; }

.logo-bod {
  display: block;
  position: relative;
  height: 60px;
  border: 1px solid #fafafa00;
  transition: .4s ease all; }

.logo-span {
  color: black;
  display: block;
  position: relative;
  margin: 0 auto;
  width: 84px;
  top: 32px;
  right: 8px;
  padding: 2px;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 22px;
  text-align: center;
  transition: .2s ease all; }

.site-logo:hover .logo-span {
  transition: .2s ease all;
  color: #ebfffc;
  text-shadow: -8px 8px 1px #00000091; }

.nav-container {
  display: absolute;
  position: relative;
  margin: 0 auto;
  padding: 4px;
  float: right;
  bottom: 18px;
  right: 24px;
  width: 450px; }

.site-nav {
  display: block;
  margin: 0 auto;
  width: 90%; }

.site-nav ul {
  display: block;
  position: relative;
  text-align: right;
  margin: 0 auto;
  width: 90%; }

.site-nav ul li {
  display: inline-block;
  position: relative;
  margin: 0 2px;
  padding: 4px; }

.site-nav a {
  color: #0000009d;
  font-weight: 100;
  padding: 4px;
  border: 1px solid #fafafa00;
  letter-spacing: -1px;
  transition: .2s ease all; }

.site-nav a:hover {
  transition: .2s ease all;
  background: #00000060;
  border: 1px solid #00000083; }

@media screen and (min-width: 701px) {
  .menu-btn-container {
    display: none;
    overflow: hidden; } }
@media screen and (max-width: 700px) {
  .header-body {
    height: 100px; }

  .nav-container {
    transition: .4s ease all;
    display: none; }

  .site-logo {
    width: 70px;
    height: 60px; }

  .logo-span {
    top: 10px;
    width: 90%;
    font-size: 1.40rem;
    letter-spacing: -3px; }

  .menu-btn-container {
    display: block;
    float: right;
    position: relative;
    padding: 4px;
    width: 50px;
    right: 20px;
    bottom: 26px;
    height: 30px;
    transition: .2s ease all; }
    .menu-btn-container .menu-btn {
      display: block;
      position: absolute;
      left: 50%;
      top: 20px;
      width: 30px;
      transform: translate(-50%, -50%); }
    .menu-btn-container .menu-btn:before,
    .menu-btn-container .menu-btn:after {
      background-color: black;
      content: '';
      display: block;
      height: 1px;
      transition: 200ms ease all; }
    .menu-btn-container .menu-btn:before {
      box-shadow: 0 10px 0 black;
      margin-bottom: 19px; }
    .menu-btn-container .menu-btn:hover:before {
      box-shadow: 0 0 0 black;
      transform: translateY(10px) rotate(45deg); }
    .menu-btn-container .menu-btn:hover:after {
      transform: translateY(-10px) rotate(-45deg); }

  .menu-btn-container:hover {
    cursor: pointer; } }

/*# sourceMappingURL=Header.css.map */
