.about-component {
  display: block;
  position: relative;
  height: 800px;
  width: 100%;
  background-size: 1400px;
  background-position: center;
  background-image: url("../../assets/images/MT.A.jpg");
  background-repeat: inherit; }

.abt-header-container {
  display: block;
  position: relative;
  margin: 0 auto;
  background: lightgreen;
  text-align: center;
  top: 25%; }

@media screen and (max-width: 850px) {
  .about-component {
    background-size: 900px;
    background-position: center; } }
a, li {
  text-decoration: none;
  list-style: none; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.blog-component {
  background: #dd9332;
  border-radius: 4px;
  display: block;
  position: relative;
  margin: 24px auto;
  margin-bottom: 40px;
  top: 75px;
  padding-top: 20px;
  height: 700px;
  width: 100%;
  text-align: center; }

.footer-body {
  background: #21ecdb;
  display: block;
  position: relative;
  margin: 0 auto;
  height: 90px;
  width: 100%; }

.footer-span {
  color: #171b4460;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 4px;
  width: 150px;
  top: 30%;
  letter-spacing: -1px;
  font-size: .80rem;
  font-weight: 400;
  font-style: italic;
  text-align: center; }

.header-component {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  position: fixed;
  margin: 0 auto;
  text-align: center;
  top: 0px;
  width: 100%;
  height: 120px;
  z-index: 1001;
  transition: .2s ease all; }

.header-component:hover {
  transition: .2s ease all;
  background: #f1e4d9; }

.header-body {
  display: block;
  margin: 0 auto;
  height: 20px;
  width: 95%; }

.site-logo {
  background: #242e49;
  display: block;
  position: relative;
  margin: 0 2px;
  width: 90px;
  height: 80px;
  padding: 8px;
  border-radius: 1px;
  border-top-right-radius: 12px;
  border-left: 4px solid #ffc13b;
  top: 12px;
  transition: .3s ease all; }

.site-logo:hover {
  transition: .3s ease all;
  background: #ffc13b;
  border-left: 4px solid #242e49; }

.site-logo:hover .logo-span {
  transition: .2s ease all;
  color: #242e49; }

.logo-bod {
  display: block;
  position: relative;
  height: 60px;
  transition: .4s ease all; }

.logo-span {
  color: #f1e4d9;
  display: block;
  position: relative;
  margin: 0 auto;
  width: 84px;
  top: 32px;
  right: 8px;
  padding: 2px;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 22px;
  text-align: center;
  transition: .2s ease all; }

.nav-container {
  display: absolute;
  position: relative;
  margin: 0 auto;
  padding: 4px;
  float: right;
  bottom: 24px;
  right: 30px;
  width: 450px; }

.site-nav {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 90%; }

.site-nav ul {
  display: block;
  position: relative;
  text-align: right;
  margin: 0 auto;
  width: 90%;
  left: 20px; }

.site-nav ul li {
  display: inline-block;
  position: relative;
  padding: 2px;
  margin: 0 2px;
  top: 6px; }

.site-nav a {
  color: #02113a59;
  display: inline-block;
  position: relative;
  margin-right: -6px;
  font-weight: 100;
  padding: 4px;
  padding-bottom: 9px;
  border-left: 4px solid #fafafa00;
  border-top-right-radius: 8px;
  letter-spacing: -1px;
  transition: .2s ease all; }

.site-nav a:hover {
  transition: .2s ease all;
  background: #4d434356;
  border-left: 4px solid #2c308862;
  color: #f1e4d9; }

.dropnav-container {
  transition: .4s ease all;
  display: none; }

@media screen and (max-width: 700px) {
  .header-component {
    transition: .2s ease all;
    height: 100px; }

  .header-body {
    bottom: -20px; }

  .nav-container {
    transition: .4s ease all;
    display: none; }

  .site-logo {
    width: 70px;
    height: 60px;
    left: 8px; }

  .logo-span {
    top: 10px;
    width: 90%;
    font-size: 1.40rem;
    letter-spacing: -3px; }

  .menu-btn-container {
    display: block;
    position: absolute;
    padding: 4px;
    width: 50px;
    right: 24px;
    bottom: 20px;
    height: 30px;
    transition: .2s ease all; }
    .menu-btn-container .menu-btn {
      display: block;
      position: absolute;
      left: 50%;
      top: 12px;
      width: 32px;
      transform: translate(-50%, -50%); }
    .menu-btn-container .menu-btn:before,
    .menu-btn-container .menu-btn:after {
      background-color: #837C88;
      content: '';
      display: block;
      height: 4px;
      transition: 200ms ease all; }
    .menu-btn-container .menu-btn:before {
      box-shadow: 0 11.5px 0 #837C88;
      margin-bottom: 19px; }
    .menu-btn-container .menu-btn:hover:before {
      box-shadow: 0 0 0 #837C88;
      transform: translateY(11.75px) rotate(45deg); }
    .menu-btn-container .menu-btn:hover:after {
      transform: translateY(-11px) rotate(-45deg); }

  .menu-btn-container:hover {
    cursor: pointer; }

  .dropnav-container {
    background: #f1e4d9;
    display: flex;
    position: relative;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: -12px 12px 30px #00000038;
    margin: 0 auto;
    padding-bottom: 14px;
    width: 99%;
    height: 80vh;
    top: 24px;
    transition: .2s ease all; }
    .dropnav-container .dropnav {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-content: center;
      position: relative;
      margin: 0 auto;
      width: 100%; }
      .dropnav-container .dropnav div a {
        background: #f1e4d9;
        color: #16163531;
        display: block;
        font-size: 3.75rem;
        padding: 12px 0px;
        padding-left: 10px;
        text-align: left;
        transition: .2s ease all; }
      .dropnav-container .dropnav div a:hover {
        transition: .2s ease all;
        color: brown; } }
.hero-component {
  display: block;
  position: relative;
  height: 900px;
  width: 100%;
  background-size: 1400px;
  background-position: center;
  background-image: url("../../assets/images/pride.jpg"); }
  .hero-component h1 {
    background: #ffd9019f;
    color: #1bff5f9f;
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 4px;
    border-radius: 4px;
    font-size: 4.5rem;
    font-weight: 800;
    letter-spacing: -2px;
    top: 260px;
    text-align: center;
    width: 25%;
    min-width: 200px; }

.products-component {
  background-image: url("../../assets/images/create.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  margin: 0 auto;
  top: 100px;
  height: 600px;
  text-align: center; }
  .products-component h1 {
    background: #a320fa85; }

.schedule-component {
  background: #3bcfaf;
  border-radius: 4px;
  display: block;
  position: relative;
  margin: 24px auto;
  margin-bottom: 40px;
  top: 75px;
  padding-top: 20px;
  height: 600px;
  width: 100%;
  text-align: center; }

.socialnav-component {
  background: #2325491e;
  border: 1px solid #ffffff46;
  border-left: none;
  display: block;
  position: fixed;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 10px;
  overflow: hidden;
  top: 170px;
  height: 350px;
  z-index: 2000;
  transition: .4s ease all; }

.socialnav-component:hover {
  transition: .4s ease all;
  background: #ffc13b;
  width: 85px; }

.snav {
  display: block;
  position: relative;
  height: 200px;
  width: 80%;
  top: 24%; }

.sociacon {
  display: block;
  position: relative;
  width: 20px;
  height: 60px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  transition: .2s ease all; }

.sociacon:hover {
  transition: .2s ease all;
  width: 65px; }

.socialnav-component:hover .fb {
  display: block;
  position: relative;
  background: #4565ce; }

.socialnav-component:hover .insta {
  display: block;
  position: relative;
  background: linear-gradient(top, #fd4765, #ff8411); }

.socialnav-component:hover .gmail {
  display: block;
  position: relative;
  background: #2f7e3a; }

/*# sourceMappingURL=index.css.map */
