.about-component {
  background: #205bff8e;
  background: black;
  border-radius: 4px;
  display: block;
  position: relative;
  margin: 0 auto;
  padding-top: 20px;
  height: 905px;
  width: 98.25%;
  text-align: center; }

.abt-header-container {
  background: #a3e03f59;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  width: 70%;
  height: 240px; }
  .abt-header-container h1 {
    display: block;
    position: relative;
    text-align: left;
    margin: 0 auto;
    line-height: 65px;
    top: 4%;
    font-size: 4rem; }

a, li {
  text-decoration: none;
  list-style: none; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f1e4d9; }

.blog-component {
  background: #1B2EAA;
  display: block;
  position: relative;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 4rem;
  height: 900px;
  width: 1300px;
  letter-spacing: -14px;
  text-align: center; }
  .blog-component h1 {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 200px;
    width: 60%;
    height: 400px;
    word-wrap: break-word; }

.footer-body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 120px;
  width: 100%;
  color: #fafafa; }

.footer-span {
  color: #000000a1;
  display: block;
  position: relative;
  width: 250px;
  letter-spacing: -.8px;
  font-weight: 100;
  font-style: italic;
  text-align: center; }

.header-component {
  display: block;
  position: relative;
  top: 0px;
  width: 100%;
  height: 120px;
  z-index: 100;
  transition: .2s ease all; }

.header-body {
  background: #f1e4d9;
  display: block;
  position: fixed;
  height: 120px;
  width: 100%;
  margin-bottom: 100px; }

.site-logo {
  background: #02113a59;
  display: block;
  position: relative;
  width: 90px;
  height: 80px;
  padding: 8px;
  border-radius: 2px;
  top: 12px;
  left: 12px;
  transition: .3s ease all; }

.site-logo:hover {
  transition: .3s ease all;
  background: #00042b75; }

.logo-bod {
  display: block;
  position: relative;
  height: 60px;
  transition: .4s ease all; }

.logo-span {
  color: #f1e4d9;
  display: block;
  position: relative;
  margin: 0 auto;
  width: 84px;
  top: 32px;
  right: 8px;
  padding: 2px;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 22px;
  text-align: center;
  transition: .2s ease all; }

.nav-container {
  display: absolute;
  position: relative;
  margin: 0 auto;
  padding: 4px;
  float: right;
  bottom: 24px;
  right: 24px;
  width: 450px; }

.site-nav {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 90%;
  top: 4px; }

.site-nav ul {
  display: block;
  position: relative;
  text-align: right;
  margin: 0 auto;
  width: 90%; }

.site-nav ul li {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 4px; }

.site-nav a {
  display: block;
  color: #02113a59;
  font-weight: 100;
  padding: 4px;
  padding-bottom: 9px;
  border-left: 4px solid #00000000;
  border-top-right-radius: 8px;
  letter-spacing: -1px;
  font-weight: 800;
  transition: .2s ease all; }

.site-nav a:hover {
  transition: .2s ease all;
  background: #02113a59;
  border-left: 4px solid #ecb95a;
  color: #f1e4d9; }

.dropnav-container {
  display: none; }

@media screen and (max-width: 700px) {
  .header-component {
    transition: .2s ease all;
    margin-bottom: -20px; }

  .header-body {
    height: 100px; }

  .nav-container {
    transition: .4s ease all;
    display: none; }

  .site-logo {
    width: 70px;
    height: 60px; }

  .logo-span {
    top: 10px;
    width: 90%;
    font-size: 1.40rem;
    letter-spacing: -3px; }

  .menu-btn-container {
    display: block;
    position: absolute;
    padding: 4px;
    width: 50px;
    right: 20px;
    bottom: 26px;
    height: 30px;
    transition: .2s ease all; }
    .menu-btn-container .menu-btn {
      display: block;
      position: absolute;
      left: 50%;
      top: 20px;
      width: 30px;
      transform: translate(-50%, -50%); }
    .menu-btn-container .menu-btn:before,
    .menu-btn-container .menu-btn:after {
      background-color: #837C88;
      content: '';
      display: block;
      height: 4px;
      transition: 200ms ease all; }
    .menu-btn-container .menu-btn:before {
      box-shadow: 0 11.5px 0 #837C88;
      margin-bottom: 19px; }
    .menu-btn-container .menu-btn:hover:before {
      box-shadow: 0 0 0 #837C88;
      transform: translateY(11px) rotate(-90deg); }
    .menu-btn-container .menu-btn:hover:after {
      transform: translateY(-11px) rotate(180deg); }

  .menu-btn-container:hover {
    cursor: pointer; }

  .dropnav-container {
    background: linear-gradient(top, #f1e4d9, #eec578);
    display: flex;
    position: relative;
    float: right;
    width: 160px;
    top: 24px; }

  .dropnav {
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 90%; }
    .dropnav ul {
      display: inline-block;
      position: relative;
      width: 99%; }
    .dropnav a {
      display: block;
      position: relative;
      width: 280px;
      color: #00000071;
      padding: 4px;
      right: 40px;
      font-size: 1rem;
      letter-spacing: -1.5px;
      font-weight: 800;
      transition: .2s ease all; }
    .dropnav a:hover {
      transition: .2s ease all;
      background: #c4373756;
      color: #000000; } }
.hero-component {
  background: #000000;
  display: block;
  position: relative;
  width: 98.25%;
  margin: 0 auto;
  border-radius: 4px; }

.hero-body {
  background-image: url("../../assets/images/spilledMilk.jpg");
  background-position: center;
  background-size: 900px;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  margin: 0 auto;
  top: 0;
  width: 90%;
  height: 700px; }

.hero-container {
  background: #ff227e48;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 22px;
  width: 280px;
  height: 280px;
  font-weight: 800;
  border: 12px solid #ffffff00;
  border-radius: 4px;
  transition: .4s ease all; }

.hero-container:hover {
  transition: .4s ease all;
  background: #fafafa00;
  border: 12px solid #ffffff;
  background: #0f006641; }

.hero-container:hover h1 {
  transition: .4s ease all;
  color: #fffffff5; }

.hero-container:hover h2 {
  transition: .3s ease all;
  color: white; }

.products-component {
  background-image: url("../../assets/images/create.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  margin: 0 auto;
  top: 100px;
  height: 600px;
  text-align: center; }
  .products-component h1 {
    background: #a320fa85; }

.schedule-component {
  background: #ddc34e;
  background: black;
  border-radius: 4px;
  display: block;
  position: relative;
  margin: 0 auto;
  padding-top: 20px;
  height: 600px;
  width: 98.25%;
  text-align: center; }
  .schedule-component .schedule-body {
    display: block;
    position: relative;
    margin: 0 auto;
    border-radius: 4px;
    height: 585px;
    width: 90%;
    background-image: url("../../assets/images/create.jpg");
    background-position: center;
    background-size: 900px;
    background-repeat: no-repeat;
    transition: .2s ease all; }
  .schedule-component .schedule-body:hover {
    transition: .2s ease all;
    filter: blur(0px); }
  .schedule-component h1 {
    background: #ffffff4b;
    color: #0000006c;
    display: block;
    position: relative;
    margin: 0 auto;
    height: 270px;
    width: 65%;
    top: 100px;
    padding: 40px;
    font-size: 5rem;
    letter-spacing: -9px;
    word-wrap: break-word;
    transition: .2s ease all; }
  .schedule-component h1:hover {
    transition: .2s ease all;
    background: #fafafa31;
    color: #ffffff;
    text-shadow: 1px 0px 20px #ff490136; }

@media screen and (max-width: 500px) {
  .schedule-body > h1 {
    font-size: 2.5rem;
    letter-spacing: -2px;
    padding: 20px;
    width: 75%; } }

/*# sourceMappingURL=index.css.map */
